*{
  margin: 0;
  padding: 0;
  background-color: rgb(34, 29, 28);
}
.headers{
  display: flex;
  justify-content: center;
  width: screen;
  margin: 5rem;
}
.head{
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
.one{
background-color: red;
}
.two{
background-color: yellow;
}
.three{
background-color: skyblue;
}
.parcel-data{
  margin-top: 1rem;
  color: white;
}
.parcel{
  
}