*{
  margin: 0;
  padding: 0;
  background-color: rgb(34, 29, 28);
}
.wrapper{
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 10%;
  margin-right: 10%;
}
.headers{
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  width: screen;
  font-size: larger;
}
.head{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
.one{
background-color: red;
flex-grow: 2;
}
.two{
background-color: yellow;
flex-grow: 1;
}
.three{
background-color: skyblue;
flex-grow: 2;
}
.parcel-data{
  margin-top: 1rem;
  color: white;
  display: flex;
  overflow-x: scroll;
  scrollbar-color: skyblue  rgb(34, 29, 28);
  scrollbar-width: thin;
}
.name-parcel{
  /* padding: 0rem 1rem 0rem 1rem; */
  
  text-align: center;
  
}
.selected-parcel{
  border: 3px solid skyblue;

}

.parcel-id{

  background-color: inherit;
  padding: 0.4rem 4rem 0.4rem 4rem;
  border: 3px black solid;
  color: black;
  font-size: large;
  cursor: pointer;

  
}
 
.content{
  display: flex;
  width: 100%;
  margin-top: 5rem;

  justify-content:space-between;
  text-align: center;
}
.select-name{
  font-size: 2.5rem;
  color: white;
  padding-bottom: 3rem;
  text-align: start;
}
.select-details{
  border: 2px solid white;
 width: 35rem;
  height: 15rem;
color: white;
font-size: x-large;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: start;
padding-left: 3.5rem;
padding-bottom: 2rem;


}

.color-details{
 width: 35rem;
  height: 25rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  
}
.color{
font-size: 1.5rem;
color: white;
display: flex;
justify-content: space-between;
gap:1rem;
padding: 1.5rem 0rem;
padding-bottom: 0rem

}
.box{
  margin-left: 2rem;
  height: 2rem;
  width: 2rem;
  background-color: aqua
  
}
.b1{
  background-color: red;
}
.b2{
  background-color: yellow;
}
.b3{
  background-color: skyblue;
}

.footers{
  display: flex;
  gap:2rem;
  justify-content: space-between;
  font-size: larger;
  border-radius:5px;
}
.btn{
padding: 1rem 2rem;
  background-color: aquamarine;
  cursor: pointer;
  text-align: center ;
}
#city{
  color: white;
  font-size: medium;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  }